body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #000000);
    color: #333;
}
.navbar {
    background-color: #4caf50;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar li {
    margin: 0 10px;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}
.navbar a:hover {
    color: hsl(48, 100%, 50%);
}

/*Menu*/
.menu {
    position: fixed;
    top: 15px;
    left: 15px;
}
.menu #menuBtn {
    font-size: 24px;
    cursor: pointer;
    color: #333;
}
.menu:hover #menuBtn{
    color: hsl(48, 100%, 50%);

}
.menu .content {
    display: none;
    position: fixed;
    top: 40px;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.menu:hover .content,
.menu .content:hover {
    display: block;
    animation: menu 100ms linear 1;
}
.menu .content a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: background 0.3s;
}

.menu .content a:hover {
    background: #4caf50;
    color: white;
    animation: grow 1s infinite;
}

main {
    text-align: center;
    padding: 50px;
}
.title {
    font-size: 2.5rem;
    color: #4caf50;
    margin-bottom: 1rem;
}
p {
    font-size: 1.25rem;
}
footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Animations*/

@keyframes menu {
    0% {
        opacity: 0;
    }
    0%{
        transform: translateX(-100px);
    }
}

@keyframes grow{
    50%{transform: scale(95%, 95%);}
}