*{
    box-sizing: border-box;
}
/*Body*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #000000);
    color: #333;
}

/*Home*/
.home {
    display: flex;
    justify-content: flex-end;
    position: relative;
    
}
.home #homeBtn{
    color: white;
    font-size: 24px;
    cursor: pointer;
    border: none;
    padding: 10px;
}
.home #homeBtn:hover {
    color: hsl(48, 100%, 50%);
}

/*title*/
.title {
    font-size: 50px;
    font-style: oblique;
    color: white;
    text-align: center;
    text-decoration: underline 4px;
}

p {
    font-size: 2em;
    font-style: italic;
    color: white;
    float: center;
    text-align: center;
}

/*Menu*/
.menu {
    position: fixed;
    top: 15px;
    left: 15px;
}
.menu #menuBtn {
    font-size: 24px;
    cursor: pointer;
    color: #333;
}
.menu:hover #menuBtn{
    color: hsl(48, 100%, 50%);

}
.menu .content {
    display: none;
    position: fixed;
    top: 40px;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.menu:hover .content,
.menu .content:hover {
    display: block;
    animation: menu 100ms linear 1;
}
.menu .content a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: background 0.3s;
}

.menu .content a:hover {
    background: #4caf50;
    color: white;
    animation: grow 1s infinite;
}

/*Main*/
main {
    margin-top: 50px;
    padding: 40px;
    
}
main a{
    text-decoration: none;
}
.title {
    font-size: 2.5rem;
    color: #4caf50;
    margin-bottom: 1rem;
}

/*Form*/
.form{
    color: white;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px;
}
.form h1{
    font-size: 25px;
}
.form input, button{
    min-width: 50%;
    background-color: hsl(0, 0%, 31%);
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
    border-style: outset;
}

.form button:hover{
    background-color: hsl(0, 0%, 88%);
    animation: grow 1s linear 1 ease-in-out;
}
.form button{
    cursor: pointer;
}

/*Answer*/
#myH3 {
    font-style: Verdana;
    font-size: 30px;
    color: white;   
    animation: wow 2s infinite;
    animation: grow 2000ms infinite running ;
}
p {
    font-size: 1.5rem;
}
footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@keyframes wow {
    50%{
     color: green;
    }
    100%{
        color: yellow;
    }
}

@keyframes spin {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes menu {
    0% {
        opacity: 0;
    }
    0%{
        transform: translateX(-100px);
    }
}

@keyframes grow{
    50%{transform: scale(95%, 95%);}
}