body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom, #262626, #000000); */
    background-image: url(images/Login.jpg);
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
}

/*Home*/
.home {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 26px;
    right: 165px;
    
}
.home #homeBtn{
    color: white;
    font-size: 24px;
    cursor: pointer;
    border: none;
    padding: 5px;
}
.home #homeBtn:hover  {
    color: hsl(330, 84%, 17%);
}


/*Nav-Bar*/
.navbar {
    background-color: hsla(326, 86%, 46%, 0.522);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 1%;
    min-width: auto;
    margin-top: 20px;
    border-radius: 25px;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar li {
    margin: 0 10px;
   
}
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}
.navbar a:hover {
    color: hsl(330, 84%, 17%);
}

/*Menu*/
.menu {
    display: inline-block;
    padding: 15px;
    color: white;
}
.menu #menuBtn{
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
}
.menu #menuBtn:hover {
    color: hsl(330, 84%, 17%);
}
.menu .content {
    display: none;
    position: fixed;
    top: 60px;
    left: 10px;
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.menu:hover .content,
.menu .content:hover {
    display: block;
    transition: all;
    animation: menu 100ms linear 1;
}
.menu .content a {
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    padding: 5px;
    transition: background 0.3s;
}
.menu .content a:hover {
    background-color: hsla(330, 80%, 44%, 0.931);
    color: white;
    animation: grow 1s infinite;
}

/*WELCOME*/
.welcome{
    text-align: center;
    padding: 50px;
}

/*Main*/
main a{
 text-decoration: none;
}
main a:hover{
    text-decoration: underline;
    transform: translate3d(20px, 20px);
}
main a:visited{
    color: red;
}

/*Pages*/
.page {
    display: none;
    width: 100%;
    min-height: 30%;
    position: fixed;
    padding: 10px;
    border: 2px outset rgba(225, 90, 191, 0.684);
    background-color: hsla(330, 1%, 27%, 0.146);
}
main h3{
    font-size: 2rem;
}
main a{
    font-size: 2rem;
    color: purple;
}

main a:visited{
    color: pink;
}
#circ, #rad, #quad {
    margin-top: 200px;
} 

.page.hidden {
    display: none;
}

.page.active {
    display: block;
    text-align: center;
}

/*save hint*/ 
.page .hint{
    display: none;
    padding: 10px;
}

.page #btnSave:hover .hint{
    display: block;
    transition: all;
    animation: hint 2s linear;
}
#results{
    min-height: auto;
    min-width: auto;
    margin-top: 50px;
    align-items: center;
    transform: translateY(200px);
}
/*Footer*/
footer{
    bottom: 0px;
    position: fixed;
    background-color: hsla(340, 2%, 26%, 0.112);
    width: 100%;
    max-height: 50px;
}
footer p{
    text-align: center;
}

#circResult, #radResult, #quadResult{
    font-style: Verdana;
    font-size: 30px;
    color: hsl(308, 71%, 55%);
    animation: answer 2.5s infinite;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

input{
    text-align: center;
    border: 2px solid hsla(327, 73%, 62%, 0.758);
    border-radius: 5px;
    font-size: large;
}

button{
    border: 2px solid hsla(327, 73%, 62%, 0.758);
    border-radius: 5px;
    font-size: large;
}

button:hover{
    border: 2px solid hsla(327, 73%, 62%, 0.758);
    background-color: hsla(324, 66%, 62%, 0.503);
    animation: grow 100ms linear;
}

#btnClr:hover{
    background-color:red;
}

/*Animations*/
@keyframes menu {
    0% {
        opacity: 0;
    }
    0%{
        transform: translateX(-100px);
    }
}

@keyframes answer {
    50%{
     color: hsl(268, 67%, 63%);
     transform: scale(95%, 95%);
    }
    100%{
        color: hsl(308, 71%, 55%);
    }
}

@keyframes hint {
    50%{
        color: hsl(268, 67%, 63%);
        transform: scale(95%, 95%);
    }
    100%{
        color: hsl(308, 71%, 55%);
    }
}

@keyframes spin {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes grow{
    50%{
        transform: scale(95%, 95%);
    }
}